
.hidden {
    display: none;
}

.heroes-row {
    display: flex;
    align-items: center;
}

.card {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.card-image {
    height:  130px;
    background-size: cover;
    background-repeat: no-repeat;
}

#new-user {
    text-align:center;
}

