#top {
    background-color: #08374e;
    background-image: url("Assets/images/nav-bkg-top.png");
    color: whitesmoke;
    height: 5vh;
    
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: lightblue;
}

h1 {
    margin: 20px;
}

h4 {
    margin: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
}

.badges {
    display: inline-block;
    margin-left: 25%;
    height: auto;
    width: 50%;
    border-radius: 50%;
}

.test1 {
    display: inline-block;
    margin-left: 0;
    height: auto;
    width: 50%;
    border-radius: 50%;
}

.badges:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.big-space {
    background-image: url("Assets/images/backimg-logo-blueuniverse.jpg");
    height: 80%;
}

.brand-logo {
    height: 10vh;
    min-height: 40px;
}


.card-content {
    font-weight: bold;
    background-color: #93a6c9;
    font-family: 'Quicksand', sans-serif;
    color: black;
}


.card {
    display: block;
    cursor: pointer;
    color: black;
}

.card:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.card-image {
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #302b2b;
}

.form {
    margin: 10px;
    color: red;
}

.hero-image {
    display: block;
    background-image: url("Assets/images/backimg-leapoffaith.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 8%;
    margin-left: 35%;
    transform: translate(-50%, -50%);
    color: silver;
    font-weight: bold;
    background-color: #08374e;
}

#confirmationPage {
    color: white;
    font-size: 12px;
    text-align: center;
}

input {
    color: white;
}


form {
    width: 80%;
    margin-left: 10%;
    margin-right: 105;
    color: white;
}

.hidden {
    display: none;
}

.heroes-row {
    display: flex;
    align-items: center;
}

input .address-input .input-field {
    -webkit-appearance: none;
    appearance: none;
    color: whitesmoke;
}

#activity2 form {
    margin-left: auto;
    margin-right: auto;
}

.input-label {
    font-size: 16px;
    color: white;
}

/* Gabe's additions */

.mode {
    color: white;
}

.tabulator-row {
    color: blue
}

.tabulator-col-content {
    color: white;
    background-color: darkblue;
    font-weight: bolder;
}

#initial-prompt {
    margin-top: 30%;
}

#activity2 {
    margin-top: 22%;
}

#eat-div {
    margin-top: 100px;
}

#meal-submit {
    width: 25%;
}

#btn-eat {
    
    width: 100%;
    font-size: 10px;
    margin-top: 20px;
}

#btn-go {
  
    width: 100%;
    font-size: 10px;
    margin-top: 20px;
}

#home-from-food {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#food-choices {
    margin-top: 50px;
    background-color: transparent;
    border: none;
}

#food-choice-confirm {
    margin-top: 200px;
    text-align: center;
}

#transpo-submitBtn2 {
    margin-right: 5%;
}

/* End Gabe's additions */


.sidenav {
    background-color: #353030;
    color: whitesmoke;
}

#new-user {
    text-align: center;
}


#profile-img {
    width: 80%;
    margin-top: 70%;
    margin-left: 12%;
    border-radius: 50%;
}

#profile-greeting {
    margin: 10px 40px;
    color: lightblue;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

#profile-details {
    color: white;
    font-size: 12px;
    text-align: center;
}

.transpo {
    color: whitesmoke;
}

.welcome {
    /* color: white; */
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    text-shadow: white;
}

/* Colin's work station */
#btn-home  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#activity {
    margin-top: 20%;
}

#address-input {
    margin-top: 100px;
}

#confirmationPage {
    margin-top: 100px;
    color: white;
    background: rgba(0,0,0,0.5);
}

#transpo-submitBtn {
    margin-right: 5%;
}

#submitBtn {
    margin-right: 5%;
}

.nav {
    height: 100%;
}

.wrapper {
    height: 60vh;
    margin-top: 15px;
}

#greeting {
    font-size: 5vw;
}

@media only screen and (max-width: 600px) {
    .wrapper {
      height: 100%;
    }

    #profile-img {
        width: 80%;
        margin-top: 10%;
        margin-left: 12%;
        border-radius: 50%;
    }

    #initial-prompt {
        margin-top: 10%;
    }

    #activity {
        margin-top: 10%;
        height: 70vh;
    }
    
    #address-input {
        margin-top: 10%;
        height: 70vh;
    }

    #activity2 {
        margin-top: 10%;
        height: 70vh;
    }

    #eat-div{
        margin-top: 10%;
        height: 70vh;
    }

    #food-choices {
        margin-top: 10%;
        height: 70vh;
    }

    #food-choice-confirm {
        margin-top: 10%;
        height: 70vh;
    }

    #confirmationPage {
        margin-top: 10%;
        height: 70vh;
    }

  }

/*End Colin's work station */

/* font-family: 'Cabin', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'VT323', monospace; */