nav {
    background-color: #08374e;
    background-image: url("Assets/images/nav-bkg-top.png");
    color: whitesmoke;
}

body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: lightblue;
}

h4 {
    margin: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    color:white;
}

.badges {
    display: inline-block;
    margin: 20px 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.big-space {
    background-image: url("Assets/images/backimg-logo-blueuniverse.jpg");
}

.brand-logo {
    height: 20%;
    min-height: 40px;
}

.card-content {
    font-weight: bold;
    background-color: #93a6c9;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
    

.card {
    display: block;
    cursor: pointer;
    color: black;
}

.card:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.card-image {
    height:  110px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #302b2b;
}

.form {
    margin: 10px;
    color: red;
}

.hidden {
    display: block;
}

.heroes-row {
    display: flex;
    align-items: center;
}

.input .address-input .input-field {
    color: whitesmoke;
}

.input-label {
    font-size: 16px;
    color: lightblue;
}

.sidenav {
    background-color: #353030;
    color: whitesmoke;
}

#new-user {
    text-align: center;
}

#profile-img {
    horizontal-align: middle;
    width: 200px;
    margin: 20px 20px;
    border-radius: 50%;
}

#profile-greeting {
    margin: 10px 40px;
    color: lightblue;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

#profile-details {
    color: white;
    font-size: 12px;
    text-align: center;
}

.transpo {
    color: whitesmoke;
}

.welcome {
    /* color: white; */
    font-family: 'Quicksand', sans-serif;
    background-color: #302b2b;
    text-shadow: cadetblue;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'VT323', monospace; */
