nav {
    background-color: #08374e;
    background-image: url("Assets/images/nav-bkg-top.png");
    color: whitesmoke;
}

body {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: lightblue;
}

h1 {
    margin: 20px;
}

h4 {
    margin: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    color:white;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
}

.badges {
    display: inline-block;
    margin: 20px 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.badges:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.big-space {
    background-image: url("Assets/images/backimg-logo-blueuniverse.jpg");
    height: 80vh;
}

.brand-logo {
    height: 20%;
    min-height: 40px;
}

.card-content {
    font-weight: bold;
    background-color: #93a6c9;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
    

.card {
    display: block;
    cursor: pointer;
    color: black;
}

.card:hover {
    box-shadow: 0px 0px 6px 6px cadetblue;
}

.card-image {
    height:  110px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #302b2b;
}

.form {
    margin: 10px;
    color: red;
}

.hero-image {
    display: block;
    background-image: url("Assets/images/backimg-leapoffaith.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 8%;
    margin-left: 35%;
    transform: translate(-50%, -50%);
    color: silver;
    font-weight: bold;
    background-color: #08374e;
  }

#confirmationPage {
    color: white;
    font-size: 12px;
    /* text-align: center; */
}

input {
    color: white;
}

form {
    width: 80%;
    margin-left: 10%;
    margin-right: 105;
}

.hidden {
    display: none;
}

.heroes-row {
    display: flex;
    align-items: center;
}

input .address-input .input-field {
    -webkit-appearance: none;
    appearance: none;
    color: whitesmoke;
}

.input-label {
    font-size: 16px;
    color: lightblue;
}

.sidenav {
    background-color: #353030;
    color: whitesmoke;
}

#new-user {
    text-align: center;
}

#profile-img {
    horizontal-align: middle;
    width: 200px;
    margin: 20px 20px;
    border-radius: 50%;
}

#profile-greeting {
    margin: 10px 40px;
    color: lightblue;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

#profile-details {
    color: white;
    font-size: 12px;
    text-align: center;
}

.transpo {
    color: whitesmoke;
}

.card-content {
    z-index:2;
}

.card-img {
    z-index: 1;
}
.welcome {
    /* color: white; */
    font-family: 'Quicksand', sans-serif;
    background-color:transparent;
    text-shadow:white;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'VT323', monospace; */
